# Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore compiled binaries generally
*.so
*.pyd

# Exception: Do NOT ignore the vendored binaries needed for the add-on to run
!bin/**/*.so
!bin/**/*.pyd

# OS metadata
.DS_Store
Thumbs.db

# Splunk local changes and metadata
/local/
/lookups/*.csv
local.meta

# Packaging & dist artifacts
*.tgz
*.tar.gz
dist/
output/

# Virtual environments & developer configurations
.venv
.vscode
.env
.pypirc
.pytest_cache

# Documents & logs
*.log
*.pdf

# SBOM / dependency scan output (syft, grype, etc.)
*.cyclonedx.json
/test.json

# Temp files
tmp/
temp_wheel_download/

